#article_holder
  - @articles.each do |article|
    %table.article

      %tr
        %td.title(colspan = "2")
          = link_to article.title, article_path(article)
      %tr
        %td.tag_holder(colspan = "2")
          - article.tags.each do |tag|
            = link_to tag.name, tag_path(tag), class: "tag"
      %tr
        %td.description(colspan = "2")
          = link_to "#{article.body.slice(0, 100)} ...", article_path(article)
      %tr.comment_meta
        %td
          = article.created_at
        %td
          = article.comments.size.to_s + " comment".pluralize(article.comments.size).upcase

#header
  = link_to "New Article", new_article_path, class: "actions"
