%h1
  = @article.title

%p.article_img
  - if @article.image.exists?
    = image_tag @article.image.url
%p
  = @article.body
  - unless @article.tags.empty?
    %p
      - @article.tags.each do |tag|
        = link_to tag.name, tag_path(tag), class: "tag"
%h2
  = "#{@article.comments.size} Comment".pluralize(@article.comments.size)
= render partial: 'articles/comment', collection: @article.comments
= render partial: 'comments/form'

#header
  = link_to "Back", articles_path, class: "actions"
  - unless @article.title == "From Faraaz"
    = link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}, class: "actions"
  = link_to "Edit", edit_article_path(@article), class: 'actions'
